@import url('https://fonts.googleapis.com/css?family=Acme|Merienda+One|Oswald');
body{
	overflow-x: hidden;
	font-family: 'Acme', sans-serif;
}
.notextdeco li {
	list-style-type: none;
	padding: 3%;
}
.topmarg30{
	margin-top: 20%;
}
.topmargin10{
	margin-top: 2%;
}
.bella {
	color: #b276ba;

}
.bella a:hover{
	text-decoration: none;
	color: #
}
.welcomediv{
	height: 100vh;
	background-image: url('../images/bealady.jpg');
	background-size: cover;
	top: 0px;
	position: ;
	background-attachment: fixed;
}
.cycle-slideshow{
	background-color: ;
}
.followup {
	height: 100vh;
	width: 100%
	top: 0px;
	z-index: ;
	position: ;
}
.followup a{
	text-decoration: none;
	color: #b43db8;	
}
.followup li{
	border: .5px #dbdbdb solid;
	text-decoration: none;
	list-style-type: none;
	width: 100%
}
.googlefont{
	font-family: 'Acme', sans-serif;
}
.wyttxt{
	color:white;
	z-index: 1000;
}
.catalogue img{
	width:100%;
	background-attachment: fixed;

}
.wallppr2{
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
}
#slideshow img{
	width: 100%;
	top: 0px;
	background-attachment: ;
	position: relative;
}
#slideshow {
	overflow: hidden;
	position: relative;
	
}
.info{
	position: absolute;
	top: 15vh;
	z-index: 1000;
	margin-left: 10%

}
.info span{
	font-size: 150%;
	text-align: right;
}
.shadow{
	box-shadow: 2px 2px 3px #888888;
}
#contactmap{
	margin-top: 35vh;
	height: 65vh;
	background-color: white;
	z-index: 1000;
	position: relative;
}
#map-canvas{
	z-index: 1;
	position: absolute;
}
.team img{
	height: 100%;
}
.wallppr2 {
	background-image: url('../images/theemap.png');
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}
#order button{
	border:1px solid white;
	color: white;
	background-color: transparent;
	margin-bottom: 15vh;
}
#order button:hover{
	border:;
	color: #b43db8;
	background-color: white;
	transition: 0.5s;
}
.txtShadow{
	text-shadow: -.08px -.08px 0px black;
	font-size: %;
}
#title{
	position: absolute;
	top: 30%;
	margin-bottom: 5vh;
	vertical-align: middle;
	z-index: 1000;
	color: white;
	text-shadow: 0.8px 0.8px 0px black;
}
#title button{
	background-color: transparent;
	margin-top: -1%;
	border: 1px solid #b43db8;
	color: #b43db8;
	text-shadow: 0.1px 0.1px 0px black;
}
#title button:hover{
	background-color: white;
	margin-top: -1%;
	border: 1px solid white;
	color: #b43db8;
	text-shadow: 0px 0px 0px black;
	transition: .7s;
}
#title span{
	font-size: 180%;
	text-shadow: 0.8px 0.8px 0px black; 

}
#title h2,h1{
	text-shadow: 0.8px 0.8px 0px black; 
}
.table tr td{
	border: none;
}